AddingBorder/Makefile
AddingBorder/addborder

AffineTransform/Makefile
AffineTransform/affine_transform

BackProjection/back_projection
BackProjection/Makefile

BoundingBoxCirlesContours/Makefile
BoundingBoxCirlesContours/bounding_box_circle_contours

CannyEdge/Makefile
CannyEdge/canny_edge
ConvexHull/convex_hull
ConvexHull/convex_hull.cpp

ErosionDilation/Makefile
ErosionDilation/erosion_dilation
FindingCountours/Makefile
FindingCountours/finding_contours

HistogramCalc/Makefile
HistogramCalc/histogram_calc
HistogramCompare/Makefile
HistogramCompare/histogram_compare
HistogramEqualization/Makefile
HistogramEqualization/histogram_eq

HoughCircle/Makefile
HoughCircle/hough_circle
HoughLine/Makefile
HoughLine/hough_line

ImageMoments/Makefile
ImageMoments/image_moments
ImagePyramid/Makefile
ImagePyramid/pyramid

LaplaceOperator/Makefile
LaplaceOperator/laplace_operator

MorphLineDetection/Makefile
MorphLineDetection/morph_line_detection

OpeningClosingHats/Makefile
OpeningClosingHats/opening_closing_hats

Remapping/Makefile
Remapping/remap
SmoothingImages/Makefile
SmoothingImages/gausian_median
SobelDerivatives/Makefile
SobelDerivatives/sobel

TemplateMatching/Makefile
TemplateMatching/template_matching
